

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Galindo&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&family=Slackey&display=swap');

@import "tailwindcss";
 

body {
  /* background: linear-gradient(135deg, #1f1c2c, #928dab); */
  background-color: #000000;

  /* black */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* ensures full-page fill */
  background-size: cover;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-family: "poppins";
  font-family: "Outfit";


}

